{% set RELOAD_EVERY_SECONDS=1 %}
{% macro levels()%}
    <h2>Levels</h2>
    <table class="table table-bordered table-sm table-dark">
        <thead>
            <th scope="col">Level</th>
            <th scope="col">Buy</th>
            <th scope="col">Sell</th>
            <th scope="col">Price</th>
        </thead>
        <tbody>
            {% for level in bot.levels[::-1] %}
                <tr{{ ' class=table-secondary' if level.floor == bot.last_floor }}>
                    <th>{{ level.floor }}</th>
                    <td{{' class=table-success' if level.buy_status == 'open' }}>
                        {{ level.buy_status.upper() if level.buy_status != 'none' }}
                    </td>
                    <td{{' class=table-danger' if level.sell_status == 'open' }}>
                        <!-- {{ level.buy_amount if level.buy_amount }} -->
                        {{ level.sell_status.upper() if level.sell_status != 'none' }}
                    </td>
                    <td align="center">{{ level.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro Statistics()%}
    <h2>Statistics</h2>
    <table class="table table-sm table-bordered table-dark">
        <tbody>
            <tr>
                <th scope="row">{{ stats.base }} balance</th>
                <td>{{ stats.base_balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">{{ stats.quote }} balance</th>
                <td>{{ stats.quote_balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">{{ stats.quote }} Profit, {{ stats.quote }}</th>
                <td>{{ stats.profit }}</td>
                <td>
                    If you sell all {{ stats.base_balance }} {{ stats.base }}
                    at {{ bot.last_price }} {{ stats.quote }}
                </td>
            </tr>
            <tr>
                <th scope="row">Profit, %</th>
                <td>{{ stats.profit_percent }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endmacro %}
<div id="bot-details"
     hx-trigger="every {{ RELOAD_EVERY_SECONDS }}s"
     hx-get="/bot/{{ bot.id }}/details"
     hx-swap="outerHTML">
    <h1>
        [{{bot.last_floor}}] <span id="header-last-price">{{ bot.last_price }}</span>
        &nbsp;{{ bot.symbol }} @ {{ bot.exchange_account }}
    </h1>
    {%- if bot.status == "running" %}
        <button type="button"
                class="btn btn-danger"
                hx-trigger="click"
                hx-get="/api/bots/{{ bot.id }}/stop">Stop</button>
    {%- elif bot.status == "stopped" %}
        <button type="button"
                class="btn btn-success"
                hx-trigger="click"
                hx-get="/api/bots/{{ bot.id }}/run">Run</button>
    {%- endif %}
    <hr>
    <div class="row">
        <div class="col-6">{{ levels() }}</div>
        <div class="col-6">{{ Statistics() }}</div>
    </div>
</div>
