{% set RELOAD_EVERY_SECONDS=5 %}
<div id="bot-details"
     hx-trigger="every {{ RELOAD_EVERY_SECONDS }}s"
     hx-get="/bot/{{bot.id}}/details"
     hx-swap="outerHTML">
    <h1>
        <span id="header-last-price" aria-live="polite">{{ bot.last_price }}</span>
        &nbsp;{{ bot.symbol }} @ {{ bot.exchange_account }}
    </h1>
    <hr>
    <h2>Levels</h2>
    <table class="table table-bordered table-sm table-dark">
        <thead>
            <th scope="col">Level</th>
            <th scope="col">Buy</th>
            <th scope="col">Sell</th>
            <th scope="col">Price</th>
        </thead>
        <tbody>
            {% for level in bot.levels[::-1] %}
                <tr{{ ' class=table-secondary' if level.floor == bot.last_floor }}>
                    <th>{{ level.floor }}</th>
                    <td{{' class=table-success' if level.buy_amount }}>
                        <!-- {{ level.buy_amount if level.buy_amount }} -->
                        {{ level.buy_status.upper() }}
                    </td>
                    <td{{' class=table-success' if level.buy_amount }}>
                        <!-- {{ level.buy_amount if level.buy_amount }} -->
                        {{ level.sell_status.upper() }}
                    </td>
                    <td align="center">{{ level.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h2>Statistics</h2>
    <table class="table table-sm table-bordered table-dark">
        <tbody>
            <tr>
                <th scope="row">{{ stats.base }} balance</th>
                <td>{{ stats.base_balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">{{ stats.quote }} balance</th>
                <td>{{ stats.quote_balance }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">{{ stats.quote }} Profit, {{stats.quote}}</th>
                <td>{{ stats.profit }}</td>
                <td>
                    If you sell all {{ stats.base_balance }} {{ stats.base }}
                    at {{ bot.last_price }} {{ stats.quote }}
                </td>
            </tr>
            <tr>
                <th scope="row">Profit, %</th>
                <td>{{ stats.profit_percent }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
