{% macro status_to_table_class(status)%}
    {%- if status == "running" -%}table-success
    {%- elif status == "stopped" -%}table-danger
    {%- elif status == "error" -%}table-warning
    {%- elif status == "paused" -%}table-info
    {%- endif -%}
{% endmacro %}
{% set RELOAD_EVERY_SECONDS=5 %}
<tbody id="bots-table-tbody"
       hx-trigger="every {{RELOAD_EVERY_SECONDS}}s"
       hx-get="/partial"
       hx-swap="outerHTML">
    {%- for bot in bots -%}
        <tr class="{{ status_to_table_class(bot.status)}}">
            <th scope="row" class="col-3">
                <a class="btn`" href="/bot/{{ bot.id }}">{{ bot.id }}</a>
            </th>
            <td class="col-1">{{ bot.status | upper }}</td>
            <td class="col-1">{{ bot.total_level_height * 100 }} %</td>
            <td>{{ bot.description }}</td>
            <td class="col-2">
                <a href="/bot/{{ bot.id }}/run" class="btn btn-success">Run</a>
                <a href="/bot/{{ bot.id }}/pause" class="btn btn-primary">Pause</a>
                <a href="/bot/{{ bot.id }}/stop" class="btn btn-danger">Stop</a>
            </td>
        </tr>
    {%- endfor -%}
</tbody>
