{% macro status_to_table_class(status)%}
    {%- if status == "running" -%}table-success
    {%- elif status == "stopped" -%}table-danger
    {%- elif status == "error" -%}table-warning
    {%- elif status == "paused" -%}table-info
    {%- endif -%}
{% endmacro %}
{% set RELOAD_EVERY_SECONDS=5 %}
<tbody id="bots-table-tbody"
       hx-trigger="every {{ RELOAD_EVERY_SECONDS }}s"
       hx-get="/partial"
       hx-swap="outerHTML">
    {%- for bot in bots -%}
        <tr class="{{ status_to_table_class(bot.status)}}">
            <th scope="row" ">
                <h6>
                    <a href="/bot/{{ bot.id }}">{{ bot.name }}</a>
                </h6>
                {%- if bot.description -%}
                    <small>{{ bot.description }}</small>
                {%- endif -%}
                {%- if not bot.message -%}
                    <br><blockquote>Message: {{ bot.message }}</blockquote>
                {%- endif -%}
            </th>
            <td>{{ bot.status | upper }}</td>
            <td>{{ bot.exchange_account }} {{ bot.symbol }}</td>
            <td>{{ bot.total_level_height * 100 }} %</td>
            <td>{{ bot.description }}</td>
            <td>
                {%- if bot.status == "running" %}
                    <button type="button"
                            class="btn btn-danger"
                            hx-trigger="click"
                            hx-post="/bot/{{ bot.id }}/stop">Stop</button>
                {%- elif bot.status == "stopped" %}
                    <button type="button"
                            class="btn btn-success"
                            hx-trigger="click"
                            hx-post="/bot/{{ bot.id }}/start">Run</button>
                {%- endif %}
            </td>
        </tr>
    {%- endfor -%}
</tbody>
