{% extends "layouts/main.html" %}
{% block title %}ExpoBot{% endblock %}
{% block main_content %}
    <h1>Bots</h1>
    <table class="table">
        <thead>
            <th scope="col" class="col-3">Name</th>
            <th scope="col" class="col-1">Status</th>
            <th scope="col" class="col-1">Trade on</th>
            <th scope="col" class="col-1">Percentage</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody id="bots-table-tbody"
               hx-trigger="load"
               hx-get="/partial"
               hx-swap="outerHTML">
        </tbody>
    </table>
    <hr>
{% endblock %}
