{% extends "layouts/main.html" %}
{% block title %}ExpoBot{% endblock %}
{% block main_content %}
    <h1>Bots: {{bots|length}}</h1>
    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">Percentage</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody id="bots-table-tbody"
               hx-trigger="load"
               hx-get="/partial"
               hx-swap="outerHTML">
        </tbody>
    </table>
    <hr>
{% endblock %}
