{% extends "layouts/main.html" %}
{% block title %}ExpoBot{% endblock %}
{% block main_content %}
    <h1>Bots</h1>
    <table class="table">
        <thead>
            <th scope="col" class="col-4">Bot</th>
            <th scope="col" class="col-6">Message</th>
            <th scope="col" class="col-2">Height</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody id="bots-table-tbody"
               hx-trigger="load"
               hx-get="/bots/bots_table_tbody"
               hx-swap="outerHTML">
        </tbody>
    </table>
    <hr>
{% endblock %}
