{% macro status_to_table_class(status)%}
    {%- if status == "running" -%}table-success
    {%- elif status == "stopped" -%}table-danger
    {%- elif status == "error" -%}table-warning
    {%- elif status == "paused" -%}table-info
    {%- endif -%}
{% endmacro %}
{% set RELOAD_EVERY_SECONDS=5 %}
<tbody id="bots-table-tbody"
       hx-trigger="every {{ RELOAD_EVERY_SECONDS }}s"
       hx-get="/bots/bots_table_tbody"
       hx-swap="outerHTML">
    {%- for bot in bots -%}
        <tr class="{{ status_to_table_class(bot.status)}}">
            <th scope="row" ">
                <h6>
                    <a href="/bot/{{ bot.id }}">{{ bot }}</a>
                </h6>
            </th>
            <td>
                {%- if bot.message -%}
                <blockquote>{{ bot.message }}</blockquote>{{bot.message_datetime.strftime("%H:%M:%S %Y-%m-%d")}}
                {%- endif -%}
            </td>
            <td>{{ "%.2f"|format((bot.total_level_height-1)*100) }} %</td>
            <td>
                {%- if bot.status == "running" %}
                    <button type="button"
                            class="btn btn-danger"
                            hx-trigger="click"
                            hx-get="/api/bots/{{ bot.id }}/stop">Stop</button>
                {%- elif bot.status == "stopped" %}
                    <button type="button"
                            class="btn btn-success"
                            hx-trigger="click"
                            hx-get="/api/bots/{{ bot.id }}/run">Run</button>
                {%- endif %}
            </td>
        </tr>
    {%- endfor -%}
</tbody>
